body {
	width: 500px;
}

.settingssection {
	/* border: 2px solid #000; */
	overflow: hidden;
}

.header {
  clear: both;
  width: 450px;
  padding: 5px;	
  text-align: center;
}

.row {
  clear: both;
  width: 450x;
  padding: 5px;
  vertical-align: middle;
}

.column {
  float: left;
  width: 140px;
  padding: 5px;
}

.doublecolumn {
  float: left;
  width: 290px;
  padding: 5px;
}

.link {
	width: 290px;
}
